@model DonChamol.Models.Producto

@{
    ViewBag.Title = "Producto por ID";
    ViewData["ShowFooter"] = false;
}

<div class="container mt-4">
    <h2 class="text-center">Detalles del Producto</h2>

    @if (Model != null)
    {
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Fecha de Vencimiento</th>
                        <th>estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.id_producto</td>
                        <td>@Model.nombre_producto?.Trim()</td>
                        <td>@Model.descripcion?.Trim()</td>
                        <td>@Model.fecha_vencimiento?.ToString("dd/MM/yyyy")</td>
                        <td>
                            <button class="btn @(Model.estado ? "btn-success" : "btn-warning")" style="width: 100%;">
                                @(Model.estado ? "Activo" : "Inactivo")
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">¡Producto No Encontrado!</h4>
            <p>El producto que estás buscando no existe. Por favor, verifica el ID y vuelve a intentarlo.</p>
        </div>
    }

    <!-- Enlace para volver a la lista de productos -->
    <div class="text-center mt-4">
        <a href="@Url.Action("GetAll", "Producto")" class="btn btn-primary">Volver a la lista de productos</a>
    </div>
</div>
